<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin-list.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/status.css">
    <script src="../../static/js/admin-list.js"></script>
    <title>입찰 현황</title>
</head>
<div data-th-replace="fragment/header :: headerFragment"></div>
<body style="width: 1800px; margin: 0 auto;">

<p style='color: #F86338; font-weight: bold;'>ArtTab</p>
<div>
    <ul>
        <li style="display: inline; margin-left: -20px; margin-right: 200px; font-size: 40px; font-weight: bold;">관리자 페이지</li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/faqlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">FAQ 관리</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/artlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">작품 관리</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/bidstatus}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">입찰구매 현황</a></li>
    </ul>
</div>
<hr>
<br>
<div style="text-align: center;">
<h2>입찰 구매 현황</h2>

<hr style="margin-top: 40px;">


<div>
    <table>
        <thead>
        <tr><th class="table-header;">작가명</th>
            <th class="table-header">작품명</th>
            <th class="table-header">경매시작</th>
            <th class="table-header">경매마감</th>
            <th class="table-header">최고입찰가</th>
            <th class="table-header">즉시구매가</th>
            <th class="table-header">상태</th>
        </tr>
        </thead>
        <td colspan="10"><hr></td>
        <br>
        <br>
        <tbody>
        <tr data-th-each="bid : ${bidstatus}" style='margin:5px; text-align:center'>
            <th:block th:with="artNo=${bid.art.artNo}">
            <td class="table-title" data-th-text="${bid.art.artWriter}">작가명</td>

            <td>
                <a class="table-content" style="font-weight: bold;" data-th-href="@{'/art/detail?artNo=' + ${artNo}}"
                   data-th-text="${bid.art.artTitle} ?: '제목없음'">게시글 제목(링크 수정 예정)</a>
            </td>

            <td data-th-text="${#dates.format(bid.art.startDatetime, 'yyyy-MM-dd')}">경매시작</td>
            <td style="text-decoration: underline; " data-th-text="${#dates.format(bid.art.endDatetime, 'yyyy-MM-dd')}">경매마감</td>
            <td data-th-text="${bid.bidPrice}" style="font-weight: bold; color: #F86338;">현재최고입찰가</td>
            <td data-th-text="${bid.art.buyNowPrice}">즉시구매가</td>
            <td>
                <span class="won" th:if="${bid.art.artStatus == 'Y'}">낙찰 완료</span>
                <span class="in-progress" th:if="${bid.art.artStatus == 'P'}">진행중</span>
                <span class="preparation" th:if="${bid.art.artStatus == 'R'}">준비중</span>
                <span class="finished" th:if="${bid.art.artStatus == 'F'}">경매 종료</span>
                <span class="deleted" th:if="${bid.art.artStatus == 'D'}">삭제</span>
            </td>
        </tr>
        </tbody>
        <td colspan="7"><hr></td>
    </table>
</div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>




</body>

<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>