<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="~{fragment/config :: configFragment}">
<link rel="stylesheet" type="text/css" href="../../static/css/bidstatus.css">
</head>
<div data-th-replace="fragment/header :: headerFragment"></div>
<body style="margin-left: 40px;">

<p style='color: #F86338; font-weight: bold;'>ArtTab</p>
<div class="main">
    <ul>
        <li style="display: inline; margin-left: -20px; margin-right: 200px; font-size: 40px; font-weight: bold;">관리자 페이지</li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/faqlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">FAQ 관리</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/artlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">작품 관리(수정필요)</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/bidstatus}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">입찰구매 현황</a></li>
    </ul>
</div>

<hr>
<br>

<div style="text-align: center;">
<h2>입찰 구매 현황</h2>
<br>
<hr>
    <a data-th-href="@{/admin/auction}"> 작품 등록하기</a>
    </div>

<div class="content" style="width: 50%; margin: 0 auto; margin-top: 30px; margin-bottom: 30px;">
        <thead>
        <tr><th class="table-header;">작가명</th>
            <th class="table-header">작품명</th>
            <th class="table-header">경매시작</th>
            <th class="table-header">경매마감</th>
            <th class="table-header">현재최고입찰가</th>
            <th class="table-header">즉시구매가</th>
            <th class="table-header">상태</th>
        </tr>
        </thead>
        <td colspan="10"><hr></td>
        <br>
        <br>
        <tbody>
        <tr data-th-each="bid : ${bidstatus}" style='margin:5px; text-align:center'>
            <td data-th-text="${bid.art.artWriter}">작가명</td>
            <td data-th-text="${bid.art.artTitle} ?: '제목없음'">작품명</td>
            <td data-th-text="${#dates.format(bid.art.startDatetime, 'yyyy-MM-dd')}">경매시작</td>
            <td data-th-text="${#dates.format(bid.art.endDatetime, 'yyyy-MM-dd')}">경매마감</td>
            <td data-th-text="${bid.bidPrice}">현재최고입찰가</td>
            <td data-th-text="${bid.art.buyNowPrice}">즉시구매가</td>
            <!--<td data-th-text="${bid.artNo.artStatus}">상태</td>-->
<!--            <td>
                <th:block th:if="${bid.art.artStatus == 'Y'}">
                    낙찰 완료
                </th:block>
                <th:block th:if="${bid.art.artStatus == 'P'}">
                    진행중
                </th:block>
                <th:block th:if="${bid.art.artStatus == 'R'}">
                    준비중
                </th:block>
                <th:block th:if="${bid.art.artStatus == 'F'}">
                    경매 종료
                </th:block>
                <th:block th:if="${bid.art.artStatus == 'D'}">
                    삭제
                </th:block>
            </td>-->
            <td>
                <span class="won" th:if="${bid.art.artStatus == 'Y'}">낙찰 완료</span>
                <span class="in-progress" th:if="${bid.art.artStatus == 'P'}">진행중</span>
                <span class="preparation" th:if="${bid.art.artStatus == 'R'}">준비중</span>
                <span class="finished" th:if="${bid.art.artStatus == 'F'}">경매 종료</span>
                <span class="deleted" th:if="${bid.art.artStatus == 'D'}">삭제</span>
            </td>
            <td colspan="7"><hr></td>
        </tr>
        </tbody>

</div>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>




</body>

<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>