<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin-detail.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/status.css">
    <title>FAQ 수정</title>
</head>
<div data-th-replace="fragment/header :: headerFragment"></div>
<body style="margin-left: 40px;">

<p style='color: #F86338; font-weight: bold;'>FAQ</p>
<div class="main">
    <ul>
        <li style="display: inline; margin-left: -20px; margin-right: 200px; font-size: 40px; font-weight: bold;">관리자 페이지</li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/faqlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">FAQ 관리</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/artlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">작품 관리</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/bidstatus}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">입찰구매 현황</a></li>
    </ul>
</div>
<hr>
<br>
<div class="content" style="width: 50%; margin: 0 auto; margin-top: 30px; margin-bottom: 30px;">
    <h2  style="text-align: center;">FAQ 수정하기</h2>
<form data-th-if="${faq}" data-th-action="@{/admin/faqupdate}" method='post' enctype="multipart/form-data">
 <hr>
    <br>
    <div class="custom-container">
        <table>
            <tr>
                <td style="width:300px;"><input type="hidden" name="faqNo" data-th-value="${faq.faqNo}"></td>
            </tr>
            <tr>
                <th>제목</th>
                <td style="width:300px;"><input type="text" name="faqTitle" data-th-value="${faq.faqTitle}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea name="faqContent" style="height:300px; width:500px;" data-th-text="${faq.faqContent}"></textarea></td>
            </tr>
            <tr>
                <th>사용여부</th>
                <td>
                    <label>
                        <input type="radio" name="faqStatus" value="Y" data-th-checked="${faq.faqStatus == 'Y'}"> Y
                    </label>
                    <label>
                        <input type="radio" name="faqStatus" value="N" data-th-checked="${faq.faqStatus == 'N'}"> N
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div class="text-right">
        <button type="submit" class="custom-button">변경</button>
        <button type="reset" class="custom-button">초기화</button>
        <a data-th-href="@{/admin/faqlist}" class="custom-link">목록</a>
    </div>

    </form>
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>




</body>

<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>