<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>FAQ List</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/list.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/status.css">
</head>
<div data-th-replace="fragment/header :: headerFragment"></div>
<body style="margin-left: 40px;">

<p style='color: #F86338; font-weight: bold;'>FAQ</p>
<div class="main">
    <ul>
        <li style="display: inline; margin-left: -20px; margin-right: 200px; font-size: 40px; font-weight: bold;">관리자 페이지</li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/faqlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">FAQ 관리</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/artlist}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">작품 관리(수정필요)</a></li>
        <li style="display: inline; margin-right: 200px;"><a data-th-href="@{/admin/bidstatus}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">입찰구매 현황</a></li>
    </ul>
</div>
<hr>
<br>
<div style="text-align: center;">
<h2 style="text-align: center;">FAQ List</h2>
    <hr>
<br>

<a th:href="@{/admin/faqform}">추가하기</a>
</div>


<div style="margin: 0 auto;
            width: 80%;">
    <table style="text-align:center;">
    <thead>
    <tr><th>번호</th> <th>제목</th> <th>상태</th> </tr>
    </thead>
    <td colspan="6"><hr></td>

    <br>
    <tbody>
    <tr data-th-each="faq : ${faqlist}" style='margin:5px; text-align:center'>
        <td style="padding: 10px;  text-align: center;" data-th-text="${faq.faqNo}">번호</td>
        <td style="padding: 10px;  text-align: center;"><a data-th-href="@{'/admin/faqdetail/' + ${faq.faqNo}}"
                data-th-text="${faq.faqTitle}">제목</a> </td>
      <td style="padding: 10px;  text-align: center;" data-th-text="${faq.faqStatus}">상태</td>
    </tr>
    <tr>
        <td colspan="6"><hr></td>
    </tr>
    </tbody>
    </table>
</div>



<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>




</body>

<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>