<!DOCTYPE html>
<html
        lang="ko"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:https="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />

</head>
<body style="width: 1800px; margin: 0 auto;">
    <header th:replace="~{fragment/header :: headerFragment}"></header>
    <div>

    </div>
    <div style="display: flex; gap: 100px; padding: 70px; align-items: center; justify-content: center;
     width: 1600px; height: auto; margin: 0 auto; background-color: #fdfdfd;">
        <div style="flex: 1; padding-left: 100px">
            <div style="width: 540px; height: 320px; background-color: #161717; margin: 20px auto; border-radius: 15px;">
                <img style="width: 100px; margin: 45px;" src="/static/images/chip.png">
                <p style="margin-left: 50px; color: white; text-align: left; font-size: 20px;">
                    001-733637-01-010</p>
                <p style="margin-left: 50px; color: #fff; font-size: 30px;" th:text="${session.loginUser.memberName}">홍길동</p>
            </div>
            <div style="width: 530px; margin: 0 auto; border: 4px dotted #e2e2ea; border-radius: 10px;">
                <p style="padding: 0 17px 17px 17px; font-size: 17px; margin: 0;">즉시 구매 가격</p>
            </div>
            <div style="margin: 0 70px;">
                <p style="padding-left: 20px;">가격 디테일</p>
                <div style="background-color: #fff; border: 10px; padding: 10px; border-radius: 7px;">
                    <p style="padding-left: 10px;">
                        <span>총액</span> <span style="display: inline-block; float: right; width: 150px;">100￦</span>
                    </p>
                    <p style="padding-left: 10px;">
                        <span>예술인 발전기금 목적 세금</span> <span style="display: inline-block; float: right; width: 150px;">10￦</span>
                    </p>
                </div>
                <div style="margin: 20px;">
                    <span>Total</span>
                    <span style="text-align: right; font-size: 20px; font-color: #f1000f"th:text="${pay.buyNowPrice}">10000</span>
                </div>
                <button class="button3"
                        style="width:540px; height: 50px; text-align: center; border-radius: 20px;
                            font-weight: bold; font-size: 18px;" onclick="requestPay()">결제 하기</button>
            </div>
        </div>

        <div style="flex: 1; padding-right: 100px">
            <div class="cropped_image">
                <img style="border-radius: 20px;" src="/static/images/logo.png">
            </div>
            <div class="buy_info" style="width: 530px;">
                <h2>구매 정보</h2>
                <p th:text="${pay.artTitle}">서양화1</p>
                <p th:text="${pay.artContent}">콘텐츠</p>
                <p th:text="${pay.artDetail}">세부정보</p>
                <p th:text="${pay.artWriter}">김성주</p>
            </div>
        </div>
    </div>
    <div id="memberNo" data-th-if="${session.loginUser}" data-th-text="${session.loginUser.memberNo}"
         style="display: none;"></div>
    <div id="artNo" data-th-text="${pay.artNo}" style="display: none;"></div>
    <div id="buyNowPrice" data-th-text="${pay.buyNowPrice}"
         style="display: none;"></div>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript"
            src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script>
        console.log("시작");
        // HTML 요소 찾기
        var memberNoElement = document.getElementById('memberNo');
        var artNoElement = document.getElementById('artNo');
        var buyNowPriceElement = document.getElementById('buyNowPrice');
        console.log("끝");

        // 가져온 정보에서 필요한 값을 추출
        var memberNo = parseInt(memberNoElement.textContent);
        var artNo = parseInt(artNoElement.textContent);
        var buyNowPrice = parseInt(buyNowPriceElement.textContent);

        var today = new Date();
        var hours = today.getHours(); // 시
        var minutes = today.getMinutes();  // 분
        var seconds = today.getSeconds();  // 초
        var milliseconds = today.getMilliseconds();
        var makeMerchantUid = hours + minutes + seconds + milliseconds;

        var IMP = window.IMP;
        IMP.init("imp38107620");

        function requestPay() {
            return IMP.request_pay({
                pg: 'html5_inicis',
                pay_method: 'card',
                merchant_uid: "IMP" + makeMerchantUid,
                name: '경매품 결제',
                amount: buyNowPrice,
                buyer_email: 'Iamport@chai.finance',
                buyer_name: '아임포트 기술지원팀'
                // buyer_tel: '010-1234-5678',
                // buyer_addr: '서울특별시 강남구 삼성동',
                // buyer_postcode: '123-456'
            }, function (response) {
                console.log(response);
                if (response.success) {
                    $.ajax({
                        url: '/pay/insertPay', // 포인트 업데이트 API 엔드포인트 URL
                        method: 'POST',
                        data: {
                            memberNo: memberNo, // 사용자 번호
                            artNo: artNo, // 게시글 번호
                            buyNowPrice: buyNowPrice // 입찰 금액
                        },
                        async: false, // 동기적으로 서버응답을 처리
                        success: function (data) {
                            console.log(data);
                            try {
                                var resultData = JSON.parse(JSON.stringify(data));
                                alert('입찰 포인트: ' + resultData.buyNowPrice);
                                location.reload();
                            } catch (e) {
                                console.error('JSON 파싱 오류:', e);
                            }
                        },
                        error: function (error) {
                            console.error('포인트 업데이트 실패', error);
                        }
                    });
                } else {
                    console.log(response);
                    alert('현재가격보다 높은 금액을 입찰해주세요');
                    location.reload();
                }
                console.log("d");
            });
        }

    </script>
    <footer th:replace="~{fragment/footer:: footerFragment}"></footer>
</body>
</html>