<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/faq.css">
</head>
<body>
<p style="color: #F86338; font-weight: bold; cursor: pointer;" onclick="window.location.href='/'">ArtTab</p>
<h1>FAQ</h1>
<hr>
<br>

<div class="category" style="float:left; margin-left: 50px; margin-top: 30px; margin-bottom: 30px;">
    <li style="display: inline-block; color: #F86338; margin-bottom: 15px;">전체</li><br>
    <li style="display: inline-block; margin-bottom: 15px;">이용 정책</li><br>
    <li style="display: inline-block; margin-bottom: 15px;">작품 판매/리셀</li><br>
    <li style="display: inline-block; margin-bottom: 15px;">작품 구매</li><br>
</div>

<!-- FAQ 목록을 표시할 위치 -->
<div class="content" style="width: 50%; margin: 0 auto; margin-top: 30px; margin-bottom: 30px;">
    <h2>목록</h2>
    <ul id="faq-list">
        <!-- FAQ 목록은 JavaScript로 동적으로 생성됩니다. -->
    </ul>
</div>

<div class="clear"></div>
<br><br><br><br><br><br><br>

<p style="width: 50%; margin: 0 auto;">
    원하시는 답변을 찾지 못하셨다면 고객센터로 문의해 주세요.<br>
    대표전화: 1577-8888<br>
    E-mail: arttab@gmail.com
</p>

<br><br><br><br><br><br><br><br>

<!-- JavaScript 파일 스크립트 -->
<script src="/static/js/faq.js"></script>
</body>
</html>