<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회사소개</title>
</head>
<body style="margin-left: 40px;">
<div data-th-replace="fragment/header :: headerFragment"></div>
<p style='color: #F86338; font-weight: bold;'>ArtTab</p>
<h1>about ArtTab</h1>
<hr>
<br>
<br>
<br>

<h1>"Art Tab - ,  예술의 탭을 열어보세요."</h1>
<br>
<br>
<br>


<div style="display: flex;">
    <div>
        <h4>HISTORY</h4>
    </div>
    <div style="margin-left: 100px;">
        <p>2023.04 학원개강</p>
        <p>2023.06 xxxxx</p>
        <p>2023.09 팀 결성</p>
        <p>2023.09 정식 서비스 론칭</p>
    </div>
</div>
<br>
<hr>
<br>
<div style="display: flex;">
    <div>
        <h4>CONTACT US</h4>
    </div>
    <div style="margin-left: 100px;">
        <p>서울시 강남구 강남대로94길 20, 삼오빌딩 6층</p>
        <p>대표전화: 1577-8888</p>
        <p>E-mail: arttab@arttab.com</p>
    </div>
</div>
<img src="/static/images/map.jpg"  style="width: 500px; height: 350px; margin-right: 40px">
<br><br><br><br><br>

</body>
<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>