<!DOCTYPE html>
<html
        lang="ko"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:https="http://www.w3.org/1999/xhtml">
<head th:fragment="configFragment">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>arttab</title>

    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
<!--    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />-->

</head>
<body style="display: flex; justify-content: center;">
<div id="main" style="width: 1450px; background-color: #ffffff;">
<div>
    <header th:replace="~{fragment/header :: headerFragment}"></header>

    <div style="margin: 0 0 40px 0;">
        <a class="link" data-th-href="@{/art/list(artStatus=${art.artStatus})}" th:text="${art.artStatus == 'P' ? '진행중 >' : '경매종료 >'}"></a>
        <a class="link" data-th-href="@{/art/list(artCategory=${art.artCategory})}">
            <span th:switch="${art.artCategory}">
                <span th:case="E">동양화 ></span>
                <span th:case="W">서양화 ></span>
                <span th:case="P">공예품 ></span>
                <span th:case="X">기타 ></span>
            </span>
        </a>
        <a data-th-text="${art.artTitle}">제목 </a>

    </div>

    <div layout:fragment="content" class="container">
        <div class="content-left, box">
            <div class="main-image" style="text-align: center;">
                <img id="mainImage" src="https://cdn.shopify.com/s/files/1/1047/6452/products/tricko1_1024x1024.jpg?v=1447104179" alt="메인 이미지"
                >
            </div>
            <div class="image-container">
                <div class="sub-image">
                    <img src="https://cdn.shopify.com/s/files/1/1047/6452/products/tricko1_1024x1024.jpg?v=1447104179"
                         width="80" height="60"
                         onclick="showImage('https://cdn.shopify.com/s/files/1/1047/6452/products/tricko1_1024x1024.jpg?v=1447104179')">

                    <img src="https://cdn.shopify.com/s/files/1/1047/6452/products/tricko2_1024x1024.jpg?v=1447104180"
                         width="80" height="60"
                         onclick="showImage('https://cdn.shopify.com/s/files/1/1047/6452/products/tricko2_1024x1024.jpg?v=1447104180')">

                    <img src="https://cdn.shopify.com/s/files/1/1047/6452/products/tricko3_1024x1024.jpg?v=1447104182"
                         width="80" height="60"
                         onclick="showImage('https://cdn.shopify.com/s/files/1/1047/6452/products/tricko3_1024x1024.jpg?v=1447104182')">
                </div>

                <script>
                    function showImage(imageUrl) {
                      var mainImage = document.getElementById('mainImage');
                      mainImage.src = imageUrl;
                      mainImage.alt = '메인 이미지';
                    }
                </script>
            </div>
        </div>

        <div class="content-right, box">
<!--            <input id="artNo" type='text' data-th-value="${art.artNo}"/><br><br>-->
<!--            <input id="artTitle" type='text' data-th-value="${art.artTitle}"/>-->
<!--            <input id="bidPrice" type='text' value="10000"/>-->
            <h4 class="title-text" style="margin-bottom: 50px;" th:text="${art.artTitle}">제목</h4>
            <h4 class="text">경매 시작가 <span class="intext" th:text="${art.startPrice} + ' ￦'">1000</span> </h4>

            <h4 class="text">현재 입찰가 <span class="intext" th:text="${list[0].bidPrice} + ' ￦'">1000</span> </h4>


            <div style="padding: 20px 5px;">
                <h4 class="text">작품 설명</h4>
                <p class="content" th:text="${art.artContent}">내용</p>
<!--            </div>-->
<!--            <div>-->
                <h5 class="text">경매 기간 <span class="intext" style="width: 450px;" data-th-text="${art.startDatetime + '  ~  ' + art.endDatetime}"></span> </h5>

                <input id="end_datetime" type="hidden" data-th-value="${art.endDatetime}">

                <div class="sec7-text-box">
                    <hr>
                    <p class="time-title">경매 마감까지 남은 시간</p>
                    <div class="time">
                        <span id="d-day-hour">00</span>
                        <span class="col">:</span>
                        <span id="d-day-min">00</span>
                        <span class="col">:</span>
                        <span id="d-day-sec">00</span>
                    </div>
                    <hr>
                </div>
                <div>
                    <a href="|@{'/bid/bid?artNo=' + ${art.artNo}}|" class="button1">입찰하기</a>
                    <a href="|@{'/bid/bid?artNo=' + ${art.artNo}}|" class="button2">즉시구매</a>
                </div>



            </div>
        </div>
    </div>
    <div style="max-height: 100px; overflow-y:scroll; text-align: center;">
        <table id="bidPriceTable" style="width:100%; border: 1px solid black;">
            <th style="padding-right: 20px;">입찰가</th><th>입찰일시</th>
            <!-- 실시간 경매정보 영역 -->

        </table>
    </div>
    <button id="text_btn" ;>Ajax테스트용</button>

    <br><br><br><br><br><br><br>
    <div class="detail";>
        <h1 style="text-align: center">상세 설명</h1>
        <p class="detail-box" data-th-text="${art.artDetail}">내용</p>
    </div>
    <br>

    <footer th:replace="~{fragment/footer:: footerFragment}"></footer>
</div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        var remaindTimeId; // remaindTime()의 setInterval의 ID를 저장할 변수
        var realTimeInfoId; // realTimeInfo()의 setInterval의 ID를 저장할 변수
        var artNo = $("#artNo").val();
        var artTitle = $("#artTitle").val();
        var bidPrice = $("#bidPrice").val();

        function remaindTime() {
            var now = new Date(); //현재시간을 구한다.

            // var open = new Date($("#end_datetime").val());
            var open = new Date(2023, 8, 22, 19, 15, 0); // 테스트용 경매 마감시간 설정

            var nowTime = now.getTime(); // 현재의 시간만 가져온다
            var finishTime = open.getTime(); // 경매마감 시간만 가져온다

            if (nowTime < finishTime) { //현재시간이 경매마감시간 보다 이르면 오픈시간까지의 남은 시간을 구한다.
                sec = parseInt(finishTime - nowTime) / 1000;
                hour = parseInt(sec / 60 / 60);
                sec = (sec - (hour * 60 * 60));
                min = parseInt(sec / 60);
                sec = parseInt(sec - (min * 60));

                if (hour < 10) {
                    hour = "0" + hour;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                $("#d-day-hour").html(hour);
                $("#d-day-min").html(min);
                $("#d-day-sec").html(sec);

            } else { //현재시간이 종료시간보다 크면
                $("#d-day-hour").html('00');
                $("#d-day-min").html('00');
                $("#d-day-sec").html('00');

                // 남은 시간이 0초면 Ajax호출
                endTheAuction();

                // setInterval 종료
                clearInterval(remaindTimeId);
                clearInterval(realTimeInfoId);
            }
        }

        function endTheAuction() {
            // AJAX 요청 생성
            $.ajax({
                url: "/art/update", // 데이터를 가져올 URL
                method: "POST",
                data: {artNo: artNo, artTitle: artTitle, bidPrice: bidPrice},
                success: function (data) {
                    // 요청이 성공했을 때 실행할 코드
                    console.log(data)
                    console.log("요청 성공:", data.artTitle);
                    alert("<" + data.artTitle + "> 작품의 경매가 종료 되었습니다!");
                },
                error: function (xhr, status, error) {
                    // 요청이 실패했을 때 실행할 코드
                    if (xhr.status === 400) { // 유효하지 않은 경매품에 대해서는 상태코드 400으로 응답
                        alert("종료된 경매건 입니다!");
                        console.log("정상 오류!");
                    } else {
                        console.log("의도하지 않은 다른 오류 발생!:", error);
                    }

                }
            }).always(function () {
                // 요청이 성공하든 실패하든 작품 리스트로 이동
                // window.location.href = "/art/list";
            });
        }
        realTimeInfo(); // 최초 1회는 5초 기다릴 필요없이 호출
        remaindTimeId = setInterval(remaindTime, 1000);
        realTimeInfoId = setInterval(realTimeInfo, 5000);

        function formatDate(inputDate) {
            const date = new Date(inputDate);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            const seconds = String(date.getSeconds()).padStart(2, '0');

            return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        }

        function realTimeInfo() {
            // AJAX 요청 생성
            $.ajax({
                url: "/art/realTimeInfo", // 데이터를 가져올 URL
                method: "POST",
                data: {artNo: artNo},
                success: function (data) {
                    console.log(data.art);
                    console.log(data.art.artBids);
                    console.log(data.art.artBids[0]);

                    let newRow;
                    const bidList = data.art.artBids;

                    if ($(".artInfo_row").length > 0) {
                        $(".artInfo_row").remove();
                    }

                    for (let i = 0; i < bidList.length; i++) {
                        newRow = $("<tr class='artInfo_row'>").append($("<td>").text(bidList[i].bidPrice + " (원)")).append($("<td>").text(formatDate(bidList[i].bidDatetime)));
                        $("#bidPriceTable").append(newRow);
                    }
                },
                error: function () {
                    console.error();
                }
            });
            clearInterval(realTimeInfoId);
        }
    });
</script>
</html>