.clear {
    clear: both;
}



.faq-item {
    cursor: pointer;
    margin-bottom: 10px; /* 각 FAQ 항목 간의 간격 조정 */
    padding: 10px; /* FAQ 항목의 패딩 추가 */
    background-color: #fff; /* FAQ 항목 배경색 추가 */
    border-radius: 5px; /* FAQ 항목 모서리 둥글게 만듦 */
    transition: background-color 0.3s ease; /* 부드러운 배경색 전환 효과 */
}

.faq-item:hover {
    background-color: #ffff; /* FAQ 항목을 호버할 때 배경색 변경 */
    color: black; /* 글자색 변경 */
}


.faq-content-container .faq-content {
    display: none; /* 초기에 숨겨짐 */
}

.faq-content-container .faq-content-active {
    margin-top: 30px;
    display: block; /* FAQ 내용이 나타남 */
    background-color: #cccccc /* 원하는 배경색을 지정하세요 */
    padding: 10px; /* 내용 주변에 여백 추가 (선택 사항) */
}

.faq-content-container .faq-title {
    margin-bottom: 20px; /* 제목과 내용 간격을 늘립니다. */
}