body {
    font-size: 100%; /* 화면 배율을 100%로 고정 */
}

#search_btn {
    border-radius: 10%;
    border: solid 3px #F86338;
    background-color: #F86338;
    color: white;
}

 #search_btn:hover {
     background-color: white;
     color: #F86338;
 }

/* About ArtTab과 검색창 간격 조절 */
.about-arttab {
    margin-right: 50px; /* 원하는 간격으로 조절 */
}

/* 검색 폼 스타일 */
.search-form {
    display: flex;
    align-items: center;
    margin-right: 20px; /* 간격을 조절할 값 */
}

.search-select {
    width: 100px; /* 선택 상자의 너비 조절 */
    padding: 7px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%; /* 가로 크기 조절 */
    max-width: 400px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff; /* 검색 버튼 배경색 설정 */
    color: #fff; /* 검색 버튼 텍스트 색상 설정 */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:#F86338;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  margin-right: 50px; /* 원하는 간격으로 조절 */
  transition: background-color 0.5s ease; /* 버튼 색상 변화 효과 */
  margin-left: 10px;
}

.login {
    font-color: #3E4052;
    text-decoration: none;
    color: #3E4052;
    font-weight: bold;
}

.logout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #F86338;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  margin-right: 30px; /* 원하는 간격으로 조절 */
  transition: background-color 0.5s ease; /* 버튼 색상 변화 효과 */
}

.login-button:hover {
   background-color: white;
   color: #F86338;
}