/* About ArtTab과 검색창 간격 조절 */
.about-arttab {
    margin-right: 10px; /* 원하는 간격으로 조절 */
}

/* 검색 폼 스타일 */
.search-form {
    display: flex;
    align-items: center;
    margin-right: 400px; /* 간격을 조절할 값 */
}

.search-select {
    width: 100px; /* 선택 상자의 너비 조절 */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

.search-input {
    flex-grow: 1; /* 입력 상자가 남은 공간을 채우도록 설정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 900px; /* 가로 크기 조절 */


}

.search-button {
    padding: 10px 20px;
    background-color: #007bff; /* 검색 버튼 배경색 설정 */
    color: #fff; /* 검색 버튼 텍스트 색상 설정 */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

}

.login-button {
  display: inline-block;
  padding: 30px 30px;
  background-color:#F86338;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  margin-right: 50px; /* 원하는 간격으로 조절 */
  transition: background-color 0.5s ease; /* 버튼 색상 변화 효과 */
}

.login-button:hover {
  background-color: #0056b3; /* 마우스 오버 시 배경색 변경 */
}