/* 슬라이드 이미지 액자 스타일 */
.carousel-inner {
    border: 30px solid #fff; /* 액자 테두리 스타일과 두께 설정 */
    border-radius: 100px; /* 액자 테두리 둥글기 설정 */
    overflow: hidden; /* 액자 영역 내의 이미지를 넘어가지 않도록 설정 */
}

.carousel-item {
    position: relative; /* 상대 위치 설정 */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* 캡션 배경 색상 및 투명도 설정 */
    position: absolute; /* 절대 위치 설정 */
    bottom: 0; /* 하단에 위치하도록 설정 */
    width: 100%; /* 너비 100%로 설정 */
    padding: 10px; /* 내부 패딩 설정 */
    color: #fff; /* 글자 색상 설정 */
    border-radius: 0 0 10px 10px; /* 캡션의 하단 모서리만 둥글게 설정 */
    left:0;
    right: 0;
}
