table {
    margin: 0 auto; /* 수직 가운데 정렬 및 위 아래 여백 추가 */
    width: 80%; /* 테이블 너비를 조절할 수 있습니다. */
    border-collapse: collapse; /* 테이블 셀 경계를 병합하여 여백 없애기 */
}

/* 테이블 셀 여백 */
table td {
    padding: 10px; /* 셀 내부 여백 설정 */
    text-align: center; /* 셀 내부 텍스트 가운데 정렬 */
}

/* 테이블 행 사이 여백 */
table tbody tr {
    margin-bottom: 10px; /* 행 사이에 여백 추가 */
}

a {
    text-decoration: none; 
    color: inherit;
    font-weight: bold;
}

/* 버튼 스타일 */
.custom-button {
    background-color: #F86338;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none; /* 링크의 밑줄 제거 */
}