/* mybid.css */

/* 테이블 스타일 */
#myBidTable {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: #fff; /* 배경색을 흰색으로 설정 */
    color: #333; /* 글자색을 검은색으로 설정 */
    border: 1px solid #ddd; /* 테두리 설정 */
}

/* 테이블 헤더 스타일 */
#myBidTable thead {
    background-color: #333;
    color: #fff;
}

/* 테이블 행 스타일 */
#myBidTable tbody tr:hover {
    background-color: #f5f5f5; /* 마우스 오버 시 배경색 변경 */
}

/* 테이블 셀 스타일 */
#myBidTable td, #myBidTable th {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}

/* 즉시 구매 버튼 스타일 */
#myBidTable .btn-warning {
    background-color: #F86338;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 즉시 구매 버튼 아이콘 스타일 */
#myBidTable .btn-warning i {
    margin-right: 5px;
}
