<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="~{fragment/config :: configFragment}"></head>
<body style="margin-left: 40px;">
<div data-th-replace="fragment/header :: headerFragment"></div>
<br>
<br>
인덱스냐옹!
메인페이쥐
<img style="filter: saturate(70%);" src="/static/images/back.jpg">


</div>

<br><br><br><br><br><br><br><br><br><br>
</body>
<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>