<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="~{fragment/config :: configFragment}"></head>
<body style="margin-left: 40px;">

<p style='color: #F86338; font-weight: bold;'>ArtTab</p>
<div class="main">
  <ul>
    <li style="display: inline; margin-left: -20px; margin-right: 150px; font-size: 40px; font-weight: bold;">기현님 My page</li>
    <li style="display: inline; margin-right: 150px;"><a data-th-href="@{/mypage/profile}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">회원 정보 수정</a></li>
    <li style="display: inline; margin-right: 150px;"><a data-th-href="@{/mybid}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">입찰 정보</a></li>
    <li style="display: inline; margin-right: 150px;"><a data-th-href="@{/mypay}" style="text-decoration: none; color: #FF7A00; font-size: 20px; font-weight: bold;">구매 현황</a></li>
  </ul>
</div>

<hr>
<br>

<div style="text-align: center;">
<h2 style="color: #333; font-size: 24px; font-weight: bold;">구매 현황</h2>
<table>
  <thead>
  <tr>
    <th>작품 번호</th>
    <th>결제 가격</th>
  </tr>
  </thead>
  <tbody>
  <!-- 구매 현황 데이터를 반복해서 출력 -->
  <tr th:each="purchase : ${purchaseHistory}">
    <td th:text="${purchase.artNo}"></td>
    <td th:text="${purchase.payPrice}"></td>
  </tr>
  </tbody>
</table>

<br><br><br><br><br><br><br><br><br>


<br><br><br><br><br><br><br><br>

</body>

<div data-th-replace="fragment/footer :: footerFragment"></div>
</html>
