<!--signup.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<br>
<body style="width: 1800px; margin: 0 auto;">
<div data-th-replace="fragment/header :: headerFragment"></div>
<form method="post" action="/signup">
  <div class="container">
    <h1>회원가입</h1>
    <div class="form-group">
      <label for="inputEmail4">이메일</label>
      <input type="text" class="form-control" id="inputEmail4" name="memberEmail" placeholder="이메일">
    </div>
    <div class="form-group">
      <label for="inputPassword4">비밀번호</label>
      <input type="password" class="form-control" id="inputPassword4" name="memberPwd" placeholder="비밀번호">
    </div>
    <div class="form-group">
      <label for="inputName">이름</label>
      <input type="text" class="form-control" id="inputName" name="memberName" placeholder="이름">
    </div>
    <div class="form-group">
      <label for="inputPhone4">전화번호</label>
      <input type="text" class="form-control" id="inputPhone4" name="memberPhone" placeholder="휴대폰">
    </div>
    <div class="form-group">
      <label for="inputAddr">기본주소</label>
      <input type="text" class="form-control" id="inputAddr" name="memberAddr" placeholder="기본주소" readonly>
    </div>
    <div class="form-group">
      <label for="inputDetailAddr">상세주소</label>
      <input type="text" class="form-control" id="inputDetailAddr" name="memberDetailAddr" placeholder="상세주소">
    </div>
    <div class="form-group">
      <label for="inputZipcode">우편번호</label>
      <input type="text" class="form-control" id="inputZipcode" name="memberZipcode" placeholder="우편번호" readonly>
    </div>
    <div class="form-group">
      <label for="inputBank">은행명</label>
      <input type="text" class="form-control" id="inputBank" name="memberBank" placeholder="은행명">
    </div>
    <div class="form-group">
      <label for="inputAcc">계좌번호</label>
      <input type="text" class="form-control" id="inputAcc" name="memberAcc" placeholder="계좌번호">
    </div>
    <button type="submit" class="btn btn-primary">가입 완료</button>
  </div>
</form>
<div data-th-replace="fragment/footer :: footerFragment"></div>
<br><br><br><br><br><br><br><br>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  window.onload = function(){
      document.getElementById("inputAddr").addEventListener("click", function(){ //주소입력칸을 클릭하면
          //카카오 지도 발생
          new daum.Postcode({
              oncomplete: function(data) { //선택시 입력값 세팅
                  document.getElementById("inputZipcode").value = data.zonecode;
                  document.getElementById("inputAddr").value = data.address; // 주소 넣기
                  document.querySelector("input[name=memberDetailAddr]").focus(); //상세입력 포커싱
              }
          }).open();
      });
  }
</script>
</html>